/* Base Settings */
.container {
    max-width: 1140px !important;
}

/* Subheader */
@media only screen and (max-width: 968px)  {
.subheader {
    margin-top: 3.3rem;
}
}

/* Found in navigation */
.nav_logo { 
    max-width: 250px;
    height: 100%;
}

/* Found in footer */

.footer_bg {
    background: rgb(1,88,113);
    background: linear-gradient(180deg, rgba(1,88,113,1) 4%, rgba(3,128,163,1) 100%);
}
.footer_logo { 
    width: 200px;
}
footer {
    
    .nav-link a {
    color: white !important;

    &:hover {
        color: $primary;
    }
}
}

.fill-brand-footer {
    width: 20px;
    height: 20px;
    fill: white;

    &:hover {
        fill: $primary;
    }
}