{{ define "main" }}
<div class="overlay">
<header class="hero is-fullheight-with-navbar">
  <div class="hero-body">

    <div class="container">
          <div class="is-flex is-column is-aligned-start is-justified-center">
            
          <h1 class="title mb-5 has-text-left has-text-white">{{ .Params.heading }}</h1>
          <p class="subtitle is-size-5 has-text-left py-3 has-text-white ">{{ .Params.subheading | safeHTML }}</p>
          <div class="">
          <a href="/surfboards/" class="button is-large is-primary">Our Surfboards</a>
          <a href="/about/" class="button is-large is-secondary">About Us</a>
        </div>
      </div>
    </div>
    </div>
</header>
</div>
{{ end }}