{{ define "main" }}
<header class="hero is-fullheight is-bold is-primary">

    <div class="hero-body">

      <div class="container">
            <div class="is-flex is-column is-aligned-center is-justified-center">
            <div class="">
                <img src="{{ $.Site.BaseURL }}img/logo_transparent.png" width="300px" alt="" class="">
            </div>
            <h1 class="title is-size-1 mb-5" data-aos="fade" data-aos-duration="1200">{{ .Params.heading }}</h1>
            <h2 class="subtitle is-size-2">{{ .Params.subheading }}</h2>
            <div class="">
            <a href="#" class="button is-secondary">Our Services</a>
        </div>
        </div>
      </div>
  
</header>

{{ end }}